<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ILMerge" version="3.0.29" targetFramework="net40" />
  <package id="ILMerge.MSBuild.Task" version="1.0.7" targetFramework="net40" />
  <package id="Quamotion.DiscUtils.Core" version="0.15.4" targetFramework="net40" />
  <package id="Quamotion.DiscUtils.Ntfs" version="0.15.4" targetFramework="net40" />
  <package id="Quamotion.DiscUtils.Streams" version="0.15.4" targetFramework="net40" />
  <package id="Quamotion.DiscUtils.Vmdk" version="0.15.4" targetFramework="net40" />
</packages>